datasets/
data/
src/__pycache__
src/650M-version/inconsistencies
src/train-models
src/predict/ground-truth
src/predict/predictions
src/fine-tuning
src/finetuned-ESM2-650M.tar.gz
src/650M-version/finetuned-model-650M.pt
final-data/
src/trained-models/
src/IDPs/