datasets/
data/
src/fine-tuning/esmc-venv
src/fine-tuning/__pycache__
src/fine-tuning/finetune-esm
src/fine-tuning/venv_esmplusplus
src/prediction-analysis/pymol-examples
src/fine-tuning/predictions
src/models/__pycache__
src/models/650M-version/inconsistencies
src/models/train-models
src/models/predict/ground-truth
src/models/predict/predictions
src/fine-tuning
src/models/finetuned-ESM2-650M.tar.gz
src/models/650M-version/finetuned-model-650M.pt
src/prediction-analysis/__pycache__