amqp
annotated-types
anyio
billiard
biopython
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
contourpy
cycler
dnspython
email-validator
fastapi
fastapi-cli
filelock
flower
fonttools
fsspec
gemmi
griddataformats
h11
hf-xet
httpcore
httptools
httpx
huggingface-hub
humanize
idna
jinja2
joblib
kiwisolver
kombu
markdown-it-py
markupsafe
matplotlib
mda-xdrlib
mdanalysis
mdurl
mmtf-python
mpmath
mrcfile
msgpack
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pillow
prometheus-client
prometheus-fastapi-instrumentator
prompt-toolkit
pydantic
pydantic-core
pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
redis
regex
requests
rich
rich-toolkit
safetensors
scikit-learn
scipy
setuptools
shellingham
six
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tornado
tqdm
transformers==4.48.1
triton
typer
typing-extensions
typing-inspection
tzdata
urllib3
uvicorn
uvloop
vine
watchfiles
wcwidth
websockets